@using ServerMonitorCore.Common
@model MetricsReportModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="p-0 container-fluid">
    <h1 class="mb-4">Monitoring Tool</h1>
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title mb-0 h5">Servers</div>
                    <div>
                        <form asp-controller="Home" asp-action="Index" method="post">
                        Update interval: <input type="number" name="UpdateInterval" value="@Model.UpdateIntervalSeconds"/>
                        <input type="submit" value="Send"/>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>IP Address</th>
                            <th>CPU (%)</th>
                            <th>Memory (%)</th>
                            <th>Last update</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Metrics) {
                            <tr>
                                <td>@item.IpAddress</td>
                                <td>@($"{item.Snapshot.ProcessorUsagePercent:F1}")</td>
                                <td>@($"{item.Snapshot.MemoryUsagePercent:F1}")</td>
                                <td>@item.GetElapsedTime().Humanize()</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
   
        </div>
    </div>
</div>